h2 {
	font-size: 8rem;
}

@font-face {
	font-family: 'front-end-stack';
	src:url('fonts/front-end-stack.eot');
	src:url('fonts/front-end-stack.eot?#iefix') format('embedded-opentype'),
		url('fonts/front-end-stack.woff') format('woff'),
		url('fonts/front-end-stack.ttf') format('truetype'),
		url('fonts/front-end-stack.svg#front-end-stack') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-compass, .icon-grunt, .icon-sublime, .icon-ruby, .icon-require, .icon-node, .icon-js, .icon-html5, .icon-finder, .icon-dribbble, .icon-css3, .icon-beerjs, .icon-angular {
	font-family: 'front-end-stack';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-compass {
	color: #666;
}
.icon-compass:before {
	margin-right: -1em;
	content: "compassback";
	color: #000;
}
.icon-compass:after {
	margin-left: -1em;
	content:"compassfront";
	color: #ddd;
}
.icon-grunt {
	color: #666;
}
.icon-grunt:before {
	margin-right: -1em;
	content: "gruntback";
	color: #000;
}
.icon-grunt:after {
	margin-left: -1em;
	content:"gruntfront";
	color: #ddd;
}
.icon-sublime{
	color: #666;
}
.icon-sublime:before {
	margin-right: -1em;
	content: "sublimeback";
	color: #000;
}
.icon-sublime:after {
	margin-left: -1em;
	content:"sublimefront";
	color: #ddd;
}
.icon-ruby {
	color: #666;
}
.icon-ruby:before {
	margin-right: -1em;
	content: "rubyback";
	color: #000;
}
.icon-ruby:after {
	margin-left: -1em;
	content:"rubyfront";
	color: #ddd;
}
.icon-require {
	color: #666;
}
.icon-require:before {
	margin-right: -1em;
	content: "requireback";
	color: #000;
}
.icon-require:after {
	margin-left: -1em;
	content:"requirefront";
	color: #ddd;
}
.icon-node:after {
	content: "nodefront";
}
.icon-js:after {
	content: "jsfront";
}
.icon-html5 {
	color: #666;
}
.icon-html5:before {
	margin-right: -1em;
	content: "html5back";
	color: #000;
}
.icon-html5:after {
	margin-left: -1em;
	content:"html5front";
	color: #ddd;
}
.icon-finder {
	color: #666;
}
.icon-finder:before {
	margin-right: -1em;
	content: "finderback";
	color: #000;
}
con-finder:after {
	margin-left: -1em;
	content:"finderfront";
	color: #ddd;
}
.icon-dribbble {
	color: #666;
}
.icon-dribbble:before {
	margin-right: -1em;
	content: "dribbbleback";
	color: #000;
}
.icon-dribbble:after {
	margin-left: -1em;
	content:"dribbblefront";
	color: #ddd;
}
.icon-css3{
	color: #666;
}
.icon-css3:before {
	margin-right: -1em;
	content: "ccs3back";
	color: #000;
}
.icon-css3:after {
	margin-left: -1em;
	content:"css3front";
	color: #ddd;
}
.icon-beerjs {
	color: #666;
}
.icon-beerjs:before {
	margin-right: -1em;
	content: "beerjsback";
	color: #000;
}
.icon-beerjs:after {
	margin-left: -1em;
	content:"beerjsfront";
	color: #ddd;
}
.icon-angular {
	color: #666;
}
.icon-angular:before {
	margin-right: -1em;
	content: "angularback";
	color: #000;
}
.icon-angular:after {
	margin-left: -1em;
	content:"angularfront";
	color: #ddd;
}
