@font-face {
	font-family: 'devicons';
	src:url('fonts/devicons.eot');
	src:url('fonts/devicons.eot?#iefix') format('embedded-opentype'),
		url('fonts/devicons.woff') format('woff'),
		url('fonts/devicons.ttf') format('truetype'),
		url('fonts/devicons.svg#devicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-compass, .icon-grunt, .icon-sublime, .icon-ruby, .icon-require, .icon-node, .icon-js, .icon-html, .icon-finder, .icon-dribbble, .icon-css, .icon-beerjs, .icon-angular, .icon-cascadiajs, .icon-devicons {
	font-family: 'devicons';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-devicons{
	color:#EC6635;
}
.icon-devicons:before{
	margin-right: -1em;
	color:#EAEAEB;
	content: "deviconsback";
}
.icon-devicons:after{
	margin-left: -1em;
	color:#E05130;
	content: "deviconsfront";
}
.icon-compass {
	color: #C9232E;
}
.icon-compass:before {
	margin-right: -1em;
	content: "compassback";
	color: #D5222D;
}
.icon-compass:after {
	margin-left: -1em;
	content:"compassfront";
	color: #EB818B;
}
.icon-grunt {
	color: #e68724;
}
.icon-grunt:before {
	margin-right: -1em;
	content: "gruntback";
	color: #F7A832;
}
.icon-grunt:after {
	margin-left: -1em;
	content:"gruntfront";
	color: #463017;
}
.icon-sublime{
	color: #4a4b4b;
}
.icon-sublime:before {
	margin-right: -1em;
	content: "sublimeback";
	color: #6A6968;
}
.icon-sublime:after {
	margin-left: -1em;
	content:"sublimefront";
	color: #F7AA5A;
}
.icon-ruby {
	color: #a41d21;
}
.icon-ruby:before {
	margin-right: -1em;
	content: "rubyback";
	color: #c52726;
}
.icon-ruby:after {
	margin-left: -1em;
	content:"rubyfront";
	color: #871b19;
}
.icon-require {
	color: #ED493D;
}
.icon-require:before {
	margin-right: -1em;
	content: "requireback";
	color: #4D9DD3;
}
.icon-require:after {
	margin-left: -1em;
	content:"requirefront";
	color: #F0E733;
}
.icon-node {
	color:#46483F;
}
.icon-node:after {
	content: "nodefront";
	color: #8FC555;
	margin-left:-1em;
}
.icon-js {
	color:#333332;
}
.icon-js:before {
	content: "jsback";
	margin-right:-1em;
	color:#FADC47;
}
.icon-html {
	color: #E05130;
}
.icon-html:before {
	margin-right: -1em;
	content: "htmlback";
	color: #EAEAEB;
}
.icon-html:after {
	margin-left: -1em;
	content:"htmlfront";
	color: #EC6635;
}
.icon-finder {
	color: #D2DEF1;
}
.icon-finder:before {
	margin-right: -1em;
	content: "finderback";
	color: #73A2D0;
}
.icon-finder:after {
	margin-left: -1em;
	content:"finderfront";
	color: #221F20;
}
.icon-dribbble {
	color: #F29ABC;
}
.icon-dribbble:before {
	margin-right: -1em;
	content: "dribbbleback";
	color: #EE73A3;
}
.icon-dribbble:after {
	margin-left: -1em;
	content:"dribbblefront";
	color: #C6386D;
}
.icon-css{
	color: #EAEAEB;
}
.icon-css:before {
	margin-right: -1em;
	content: "cssback";
	color: #1872B6;
}
.icon-css:after {
	margin-left: -1em;
	content:"cssfront";
	color: #33A8DC;
}
.icon-beerjs {
	color: #B5CDE1;
}
.icon-beerjs:before {
	margin-right: -1em;
	content: "beerjsback";
	color: #FADC47;
}
.icon-beerjs:after {
	margin-left: -1em;
	content:"beerjsfront";
	color: #333332;
}
.icon-angular {
	color: #E23337;
}
.icon-angular:before {
	margin-right: -1em;
	content: "angularback";
	color: #B2B2B2;

}
.icon-angular:after {
	margin-left: -1em;
	content:"angularfront";
	color: #B52F31;
}

.icon-cascadiajs{
	color: #6fbeea;
}
.icon-cascadiajs:after {
	margin-left: -1em;
	content: "cascadiajsfront";
	color: #2d833f;
}
